 
 *{box-sizing: border-box;}
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5EFE6;
 }
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 28px;
    background-color: #000000;
    color: #D4AF37;
    flex-wrap: nowrap;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #B8962E;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    gap: 33px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

}

.logo img {
    width: 60px;
    border-radius: 50%;
    filter: drop-shadow(0 0 4px rgba(212, 175, 55, 0.6));
}

.search-box {
    display: flex;
    gap: 5px;
}

.search-box button {
    padding: 6px 10px;
    background-color: #C62828;
    color: white;
    border: none;
    border-radius: 8px;
}

#searchbox {
    border-radius: 8px;
    background-color: #F9F9F9;
    border: 2px solid #D4AF37;
}

.bg-img {
    height:auto;
    background-color: black;
    position: relative;
    width: 100%;
    max-width: 100%;
}
.bg-img img {
    height: auto;
    opacity: 0.5;
    width: 100%;
    max-width: 100%;
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    color: white;
    z-index: 2;
    font-size: clamp(14px,3vw,16px);
    transform: translate(-50%, -50%);
}

.category {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 6px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    scrollbar-width: none;
    flex-wrap: wrap;
}
.category-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(11px,3vw,14px);
    background-color: #D4AF37;
    color: #111;
    border-radius: 8px;
    padding: 6px 12px;
    height: 30px;
}

.shayari-card {
    background: #1c1c1c;
    color: #f5f5f5;
    padding: 16px;
    margin: 12px auto;
    width: 80%;
    border-radius: 10px;
    line-height: 1.8;
    font-size: clamp(13px,2.8vw,16px);
    border-left: 4px solid #ffd369;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    box-sizing: border-box;
}

.category-btn.active {
    background-color: #ffd369;
    color: #000;
    font-weight: 600;
}

.heading {
    display: block;
    background-color: #D4AF37;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 8px 14px;
    margin: 16px auto;
    text-align: center;
    width: fit-content;
    border-radius: 8px;
    font-weight: 600;
}
@media (max-width: 550px) {

  html, body {
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 6px 8px;
    gap: 6px;
  }

  .logo img {
    width: 34px;
  }

  .search-box {
    width: 100%;
    justify-content: center;
    margin-top: 6px;
  }

  #searchbox {
    width: 65%;
    font-size: 12px;
  }

  .search-box button {
    font-size: 12px;
    padding: 4px 8px;
  }

  .bg-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .category {
    justify-content: center;
    flex-wrap: wrap;
  }
 .text{
    font-size: 8px;
 }
  .shayari-card {
    width: 94%;
    margin: 12px auto;
    font-size: 13px;
  }
}
